#blip-chat-open-iframe {
    display: none !important;
}

#blip-chat-container {
    height: 100% !important;
    bottom: 0 !important;
    right: 0 !important;
}

#blip-chat-iframe {
    position: absolute !important;
    top: 0 !important;
    right: -400px !important;
    bottom: 0 !important;
    height: 100% !important;
    max-height: 100% !important;
    transform: none !important;
    opacity: 1 !important;
    box-shadow: none !important;
    transition: 0.5s !important;
}

#blip-chat-iframe.blip-chat-iframe-opened {
    right: 0 !important;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.2) !important;
}